In [1]:
# import modules
import os
import pandas as pd
import glob
import requests

import json
import time

# Make Rides CSV

In [2]:
#join last six months of Jersey City rides
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "JC-20*.csv"))))
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member

In [3]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [4]:
#concat nyc data csv's
nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
nydf.head()

/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))
/var/folders/qc/_ykx45d102d0nr51ysx4tb4h0000gn/T/ipykernel_61877/2449208695.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  nydf = pd.concat(map(pd.read_csv, glob.glob(os.path.join('csv', "202*.csv"))))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FA2F660C8D433037,electric_bike,2022-03-04 18:58:36,2022-03-04 19:13:51,Washington St & Barrow St,5847.08,University Pl & E 14 St,5905.14,40.731911,-74.008769,40.734814,-73.992085,member
1,03B6FE6FAEE61465,classic_bike,2022-03-06 20:37:09,2022-03-06 20:45:28,Washington St & Barrow St,5847.08,W 11 St & 6 Ave,5914.03,40.731911,-74.008769,40.735324,-73.998004,member
2,6E6995761B4A5760,classic_bike,2022-03-01 15:13:49,2022-03-01 15:19:53,1 Ave & E 110 St,7522.02,E 110 St & Madison Ave,7587.14,40.792327,-73.938300,40.796154,-73.947821,member
3,AA51CCF6CEDD6033,classic_bike,2022-03-11 13:59:03,2022-03-11 14:06:43,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
4,72AA3A7D430D8EF8,classic_bike,2022-03-08 14:59:16,2022-03-08 15:05:04,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member

In [5]:
nydf.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [6]:
#add two df's to get one df
rides = pd.concat([df, nydf])
rides

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069230,C881CC5F60F23500,electric_bike,2021-10-12 11:03:12,2021-10-12 11:28:37,MacDougal St & Washington Sq,5797.01,Madison Ave & E 82 St,7188.13,40.732264,-73.998522,40.778131,-73.960694,member
3069231,FFDD8AA265B1C1D2,classic_bike,2021-10-27 15:24:48,2021-10-27 15:32:16,W 36 St & 7 Ave,6483.06,E 32 St & Park Ave,6280.12,40.752149,-73.989539,40.745712,-73.981948,member
3069232,EF4C84FB5CB02D91,classic_bike,2021-10-30 21:23:03,2021-10-30 21:35:16,W 36 St & 7 Ave,6483.06,W 53 St & 10 Ave,6890.01,40.752149,-73.989539,40.766697,-73.990617,member
3069233,7A3DE386CC5B6876,classic_bike,2021-10-31 16:37:03,2021-10-31 16:42:51,5 Ave & E 87 St,7323.09,Madison Ave & E 82 St,7188.13,40.782323,-73.959875,40.778131,-73.960694,member
3069234,7CCA5BC5F10BF7C2,classic_bike,2021-10-11 08:41:40,2021-10-11 08:54:51,Henry St & Degraw St,4380.08,6 St & 7 Ave,3834.1,40.684751,-73.999173,40.668663,-73.979881,member

In [8]:
rides=rides.dropna().drop_duplicates(subset=['ride_id'])
rides

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069230,C881CC5F60F23500,electric_bike,2021-10-12 11:03:12,2021-10-12 11:28:37,MacDougal St & Washington Sq,5797.01,Madison Ave & E 82 St,7188.13,40.732264,-73.998522,40.778131,-73.960694,member
3069231,FFDD8AA265B1C1D2,classic_bike,2021-10-27 15:24:48,2021-10-27 15:32:16,W 36 St & 7 Ave,6483.06,E 32 St & Park Ave,6280.12,40.752149,-73.989539,40.745712,-73.981948,member
3069232,EF4C84FB5CB02D91,classic_bike,2021-10-30 21:23:03,2021-10-30 21:35:16,W 36 St & 7 Ave,6483.06,W 53 St & 10 Ave,6890.01,40.752149,-73.989539,40.766697,-73.990617,member
3069233,7A3DE386CC5B6876,classic_bike,2021-10-31 16:37:03,2021-10-31 16:42:51,5 Ave & E 87 St,7323.09,Madison Ave & E 82 St,7188.13,40.782323,-73.959875,40.778131,-73.960694,member
3069234,7CCA5BC5F10BF7C2,classic_bike,2021-10-11 08:41:40,2021-10-11 08:54:51,Henry St & Degraw St,4380.08,6 St & 7 Ave,3834.1,40.684751,-73.999173,40.668663,-73.979881,member

In [9]:
#print one csv with all rides for tableau final
rides.to_csv("out/rides.csv")

In [10]:
#select 50000 random rows for testing
test= rides.sample(50000)

In [11]:
#print one csv with rides sample for tableau setup
test.to_csv('out/testdata.csv')

# Make Stations DF

### Jersey City Stations & API Call

In [12]:
#start stations
dfjs=df[['start_station_name', 'start_lat', 'start_lng']].drop_duplicates(subset= ['start_station_name'])
dfjs= dfjs.rename(columns={"start_station_name": "name", "start_lat": "lat", "start_lng": "lng"})
dfjs

                                         name        lat        lng
0      Mama Johnson Field - 4 St & Jackson St  40.743140 -74.040041
1                       Baldwin at Montgomery  40.723659 -74.064194
21                             Journal Square  40.733670 -74.062500
24          14 St Ferry - 14 St & Shipyard Ln  40.752961 -74.024353
37                         Liberty Light Rail  40.711242 -74.055701
...                                       ...        ...        ...
49416                       Madison St & 1 St  40.738790 -74.039300
50901                      Willow Ave & 12 St  40.751867 -74.030377
220            2 St HBLR - 2 St & Marshall St  40.740802 -74.042435
696                       E 20 St & FDR Drive  40.719252 -74.034234
9262                          Grand St & 2 St  40.739130 -74.036180

[83 rows x 3 columns]

In [13]:
#end stations
dfje=df[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset= ['end_station_name'])
dfje= dfje.rename(columns={"end_station_name": "name", "end_lat": "lat", "end_lng": "lng"})
dfje

                                               name        lat        lng
0      South Waterfront Walkway - Sinatra Dr & 1 St  40.736982 -74.027781
1                                     Grove St PATH  40.719586 -74.043117
12                                          Hilltop  40.731169 -74.057574
28                                   Columbus Drive  40.718355 -74.038914
39                                     Morris Canal  40.712419 -74.038526
...                                             ...        ...        ...
36394                       W 10 St & Washington St  40.733424 -74.008515
43658                      Riverside Blvd & W 67 St  40.777507 -73.988886
60001                        Columbus Ave & W 72 St  40.777057 -73.978985
62996                              W 56 St & 10 Ave  40.768254 -73.988639
66715                      South St & Gouverneur Ln  40.703554 -74.006702

[199 rows x 3 columns]

In [14]:
#combine the two to be sure we have all stations
dfjall=pd.concat([dfjs,dfje]).drop_duplicates().reset_index(drop=True).dropna()
dfjall

                                       name        lat        lng
0    Mama Johnson Field - 4 St & Jackson St  40.743140 -74.040041
1                     Baldwin at Montgomery  40.723659 -74.064194
2                            Journal Square  40.733670 -74.062500
3         14 St Ferry - 14 St & Shipyard Ln  40.752961 -74.024353
4                        Liberty Light Rail  40.711242 -74.055701
..                                      ...        ...        ...
196                 W 10 St & Washington St  40.733424 -74.008515
197                Riverside Blvd & W 67 St  40.777507 -73.988886
198                  Columbus Ave & W 72 St  40.777057 -73.978985
199                        W 56 St & 10 Ave  40.768254 -73.988639
200                South St & Gouverneur Ln  40.703554 -74.006702

[200 rows x 3 columns]

In [15]:
# # make test request and examine JC json results
# test_response = requests.get('https://nominatim.openstreetmap.org/reverse?lat=40.743140&lon=-74.040041&format=json').json()
# test_response

In [16]:
# borough= test_response['address']["city"]
# neighborhood=test_response['address']["hamlet"]
# zipcode=test_response['address']["postcode"]
# print(borough)
# print(neighborhood)
# print(zipcode)

In [17]:
#add columns that will hold api data in df
dfjall['borough']=''
dfjall['zipcode']=''

In [18]:
borough=[]
zipcode=[]
allcall=[]

for index, row in dfjall.iterrows():
   
         #lat and lon inside the loop so it only takes for that row and add it to search params  
    lat=row["lat"]
    lon=row["lng"]
    base_url = f"https://nominatim.openstreetmap.org/reverse?lat={lat}&lon={lon}&format=json"
    # make request and collect the json into list
    response = requests.get(base_url).json()
    allcall.append(response)
    try:
        dfjall.loc[index, "borough"] =response['address']["city"]
    except: 
        dfjall.loc[index, "borough"] ='Jersey City'
    try:
        dfjall.loc[index, "zipcode"]=response['address']['postcode']
    except:
    
        time.sleep(.5)

In [19]:
#remove NYC Stations, those will get picked up below
alljcstations=dfjall.loc[dfjall['borough']== 'Jersey City',:]

In [20]:
alljcstations=allstations.reset_index(drop=True)

NameError: name 'allstations' is not defined

## NYC Stations & API Call

In [ ]:
#start Stations
dfs=nydf[['start_station_name', 'start_lat', 'start_lng']].drop_duplicates(subset= ['start_station_name'])
dfs= dfs.rename(columns={"start_station_name": "name", "start_lat": "lat", "start_lng": "lng"})
dfs

In [ ]:
#end stations
dfe=nydf[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset= ['end_station_name'])
dfe= dfe.rename(columns={"end_station_name": "name", "end_station_id": "id", "end_lat": "lat", "end_lng": "lng"})
dfe

In [ ]:
dfall=pd.concat([dfs,dfe]).drop_duplicates().reset_index(drop=True).dropna()
dfall

In [ ]:
dfall.to_csv("out/allnycstations.csv")

In [ ]:
# 40.807466	-73.927107
# make test request and examne json response
test_response = requests.get('https://nominatim.openstreetmap.org/reverse?lat=40.807466&lon=-73.927107&format=json').json()
test_response

In [ ]:
# borough= test_response['address']["suburb"]
# neighborhood=test_response['address']["neighbourhood"]
# print(borough)
# print(neighborhood)

In [ ]:
# #make a short version to test api calls
# dfshort=dfall.copy()
# dfshort=dfshort.iloc[0:20]
# dfshort

In [ ]:
# dfshort['borough']=''
# dfshort['neighborhood']=''
# dfshort['zipcode']=''

In [ ]:
# borough=[]
# neighborhood=[]
# zipcode=[]
# allcall=[]

# for index, row in dfshort.iterrows():
   
#          #lat and lon inside the loop so it only takes for that row and add it to search params  
#     lat=row["lat"]
#     lon=row["lng"]
#     base_url = f"https://nominatim.openstreetmap.org/reverse?lat={lat}&lon={lon}&format=json"
#     # make request and collect the json into list
#     response = requests.get(base_url).json()
#     allcall.append(response)
#     try:
#         dfshort.loc[index, "borough"] =response['address']["suburb"]
#     except:
#         dfshort.loc[index, "borough"] ="Manhattan"
#     try:
#         dfshort.loc[index, "neighborhood"]=response['address']["neighbourhood"]
#     except:
#         dfshort.loc[index, "neighborhood"]= "N/A"
#     try:
#         dfshort.loc[index, "zipcode"]=response['address']['postcode']
#     except:
    
#         time.sleep(.5)

In [ ]:
# dfshort['borough'] = dfshort['borough'].replace(['Queens County','Kings County'],['Queens','Brooklyn'])

In [ ]:
# dfshort

In [ ]:
dfall['borough']=''
dfall["city"]=''
dfall['zipcode']=''

In [ ]:
# this free apai call is limited to one per second, so pour yourself a coffee because it takes a while!
city=[]
borough=[]
zipcode=[]
allcall=[]

for index, row in dfall.iterrows():
   
    lat=row["lat"]
    lon=row["lng"]
    base_url = f"https://nominatim.openstreetmap.org/reverse?lat={lat}&lon={lon}&format=json"
    # make request and collect the json into list
    response = requests.get(base_url).json()
    allcall.append(response)
    try: 
        dfall.loc[index, "city"] =response['address']["city"]
    except:
        dfall.loc[index, "city"] ="nyc"
    try:
        dfall.loc[index, "borough"] =response['address']["suburb"]
    except:
        dfall.loc[index, "borough"] ="Manhattan" #b/c of how the response comes back, manhattan doesnt always have a suburb listed
    try:
        dfall.loc[index, "zipcode"]=response['address']['postcode']
    except:
    
        time.sleep(1)

In [ ]:
#change Kings Co to Brooklyn and Queens Co to Queens
dfall['borough'] = dfall['borough'].replace(['Queens County','Kings County'],['Queens','Brooklyn'])

In [ ]:
dfall.to_csv('out/nycall.csv')

In [ ]:
allnycstations=dfall.loc[dfall['city']== "New York" & "nyc",: ]

In [ ]:
allnycstations=allnycstations.drop(columns.reset_index(drop=True).dropna()

In [ ]:
allnycstations

In [ ]:
allstations = pd.concat([alljcstations, allnycstations])
allstations

In [ ]:
allstations['zip']=allstations['zipcode'].str[:5]

In [ ]:
allstations=allstations.drop(columns=['lat', 'lng', 'zipcode', 'city'])

In [ ]:
allstations=allstations.drop_duplicates()
allstations

In [ ]:
#print csv of Brough/Nerighborhood/Zip to import into Tableau
allstations.to_csv("out/borough_info.csv")